# Backend
backend/
InovalabAPI.Tests/

# Documentação
*.md
!README.md

# Build files
app/dist/
app/coverage/

# Node modules
**/node_modules/

# Angular cache
app/.angular/

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db
.vs/

# Bin e obj do backend
backend/bin/
backend/obj/
InovalabAPI.Tests/bin/
InovalabAPI.Tests/obj/

# Logs
*.log
npm-debug.log*

# Arquivos temporários
*.tmp
*.cache

