<section class="hero">
  <div class="container">
    <div class="hero-content">

      <div class="hero-text">
        <p class="hero-paragraph">
        A inovação é movimento. No InovaLab, transformamos ideias em ação, protótipos em negóciose sonhos em impacto real na comunidade
        </p>
        <button class="read-more" (click)="navegarParaInfo()">Ler Mais</button>
      </div>


      <div class="hero-center">
        <div class="logo-background">
          <img src="/favicon.png" alt="Logo Inovalab" class="background-logo">
        </div>
        <div class="person-container">
          <img src="/pessoa1.png" alt="Perfil" class="person-img">
        </div>
      </div>


      <div class="hero-right">
        <div class="innovation-text">
          <span class="inova">inova</span><br>
          <span class="cao">ção</span> <span class="ampersand">&</span><br>
          <span class="criati">criati</span><br>
          <span class="vidade">vidade</span>
        </div>
      </div>
    </div>


    <div class="university-brand">
      UNIVERSIDADE DE RIO VERDE
    </div>
  </div>
</section>
